<!DOCTYPE html>
<html>
	<head>
        <title>level(s)</title>
        <link href="@Path['~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css']" rel="stylesheet" />
        <link href="@Path['~/Content/bower_components/font-awesome/css/font-awesome.min.css']" rel="stylesheet" />
        <link href="@Path['~/Content/game.css']" rel="stylesheet" />
        <link href="http://www.justinaguilar.com/animations/css/animations.css" rel="stylesheet" />
	</head>
	<body>
        <!-- JavaScript Files -->
        <script src="@Path['~/Content/bower_components/jquery/jquery.min.js']"></script>
        <script src="@Path['~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js']"></script>
        <script src="@Path['~/Content/bower_components/raphael/raphael-min.js']"></script>
        <script src="@Path['~/Content/bower_components/jStorage/jstorage.min.js']"></script>
        <script src="@Path['~/Content/game/game.js']"></script>
        <!-- Menu -->
        <h1></h1>

		<!-- Content -->
            @Section['Content'];
        <script type="text/javascript">

        </script>
	</body>
</html>
