@Master['_layout.html']


@Section['Content']
<div class="row">
    <h2>Start</h2>
</div>
<div class="row">
    <div class="col-md-4" style="min-height:440px;">
        <h1>Welcome to Levels</h1>
    </div>
    <div class="col-md-4">
        Login
        <div class="">
            <form role="form" method="post" action="game/register" id="register_form">
                <div class="form-group">
                    <label for="exampleInputEmail1">Player Name</label>
                    <input type="email" class="form-control" name="_email" placeholder="Enter your player name!">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="_password" placeholder="Password" >
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword2">Password (again)</label>
                    <input type="password" class="form-control" name="_password_2" placeholder="Password" >
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<script type="text/javascript">
    


</script>
@EndSection